/* algaglas customization */

#l_top {
  background: transparent url("parts/ltop-back.png") no-repeat scroll 247px 33px;
  height: 132px;
}
  
div#mission a {
  border: 0;
}

div#mission {
  background: #f6e7b1 url(parts/eck.png) no-repeat scroll 100% 0;
}